<form name="loginForm" 
  #f ="ngForm"
(ngSubmit)="f.form.valid && onSubmit()"
novalidate
>
<div class="container mt-5" >
    <div class="form-group">
        <label for="username" class="form-label mt-2">UserName</label>
        <input type="text" class="form-control" 
        name="username"
        #username = "ngModel"
        id="username" 
        [(ngModel)]="login.username"
            aria-describedby="username" placeholder="Enter Username"
            required
            minlength="3"
            maxlength ="10"
            pattern ="^[a-zA-Z0-9]*$"
            >
            <div *ngIf="f.submitted && username.invalid" class="text-danger mt-1">
                <div *ngIf ="username.errors && username.errors['required']">UserName required.</div>
                <div *ngIf ="username.errors && username.errors['minlength']">UserName should be minmum of 3 characters.</div>
                <div *ngIf ="username.errors && username.errors['maxlength']">UserName can be maximum of 10 characters.</div>
                <div *ngIf ="username.errors && username.errors['pattern']">UserName cannot have special characters.</div>
            </div>
    </div>
    <div class="form-group">
        <label for="password" class="form-label mt-2">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="login.password"
            aria-describedby="password" placeholder="Enter Password">
    </div>
    <button type ="submit" class="btn btn-primary">Submit</button>
</div>
</form>